#fossils {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(./Images/Fossils.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    padding-top: 85px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    grid-template-columns: 1.25fr 3fr;
    grid-template-rows: repeat(2, 1fr);
}

#img-div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: rgba(256, 256, 256, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

#p-div {
    background-color: rgba(256, 256, 256, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

body {
    color: white;
}

h1 {
    font-size: 45px;
}

#p-div p {
    text-align: justify;
}

p {
    display: contents;
}

#imgs-div{
    background-color: rgba(256, 256, 256, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 20px;
}

.img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    transition: 0.5s;
}

.img:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#t-rex{
    background-image: url(Images/cards/t-rex\ fossil.png);
}

#stego{
    background-image: url(Images/cards/stego\ fossil.png);
}

#mosa{
    background-image: url(Images/cards/mosa\ fossil.jpg);
}
