.carousel{
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    padding-top: 55px;
    gap: 3em;
    padding-left: 3em;
    padding-right: 3em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.card{
    background-color: rgba(256, 256, 256, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: 0.45s;
    height: 40em;
    border-radius: 0.5em;
    padding: 1em;
    text-align: center;
    align-content: center;
    flex: 0 0 500px;
}

.card:hover{
    transform:scale(1.05,1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor:help;
}
